# Development-only environment variables requried to run the app
# should be defined here.
#
# See https://nextjs.org/docs/basic-features/environment-variables

# Default host for the app
NEXT_PUBLIC_HOST="http://localhost:3000"

# Google Analytics (for `nextjs-google-analytics`)
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-XXXXXXXXXX"

# Database
DATABASE_URL="postgresql://postgres@localhost:5432/startkit_development"

# Authentication
NEXTAUTH_SECRET="changeme" # `openssl rand -base64 32`
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="XXXX"
GOOGLE_CLIENT_SECRET="XXXX"
GITHUB_CLIENT_ID="XXX"
GITHUB_CLIENT_SECRET="XXX"

# Email
EMAIL_FROM="StartKit <hello@startkit.dev>"
RESEND_API_KEY="changeme"
