---
import ArticleList from "./list.astro"

interface Props {
  title?: string
}

const { title = "Some of my recent posts:" } = Astro.props
---

<section class="space-y-2">
  <p class="italic">{title}</p>
  <ArticleList />
</section>
