---
import { getCollection } from "astro:content"

const allPosts = await getCollection("posts")
const posts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate ?? Date.now()).getTime()
  const dateB = new Date(b.data.pubDate ?? Date.now()).getTime()
  return dateB - dateA
})
---

<ul class="list-none space-y-2 ps-0">
  {
    posts.map((post) => (
      <li class="flex flex-row items-center justify-between gap-2">
        <a href={`/${post.id}`} class="link min-w-0 truncate">
          {post.data.title}
        </a>

        <span class="mr-2 flex-shrink-0 text-right whitespace-nowrap text-muted-foreground">
          <span class="hidden sm:inline">
            {new Date(post.data.pubDate ?? Date.now()).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric"
            })}
          </span>
          <span class="inline sm:hidden">
            {new Date(post.data.pubDate ?? Date.now()).toLocaleDateString("en-US", {
              month: "short",
              day: "numeric",
              year: "2-digit"
            })}
          </span>
        </span>
      </li>
    ))
  }
</ul>
