/* `swing` animation */
@theme {
  --animate-swing: swing 2s ease-in-out forwards;

  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(12.5deg);
    }
    30% {
      transform: rotate(7.5deg);
    }
    50% {
      transform: rotate(15deg);
    }
    70% {
      transform: rotate(11.5deg);
    }
    90% {
      transform: rotate(12.5deg);
    }
  }
}
