@import "tailwindcss";
@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@import "./fonts.css";
@source "../";

@custom-variant dark (&:is(.dark *));
@custom-variant party-mode (&:is(.party-mode *));

:root {
  --background: oklch(0.9768 0.0045 78.3); /* #F9F7F4 */
  --foreground: oklch(0.1559 0.0053 145.31); /* #0b0d0b */
  --accent: oklch(0.9485 0.2077 117.5); /* #e4ff34 */
  --accent-foreground: oklch(0.9905 0.0162 142.56); /* #f6fff5 */
  --border: var(--accent); /* oklch(0.92 0.004 286.32); */
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
}

.dark {
  --background: oklch(0.1559 0.0053 145.31); /* #0b0d0b */
  --foreground: oklch(0.9905 0.0162 142.56); /* #f6fff5 */
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
}

.party-mode,
.party-mode.dark {
  --background: oklch(0.9234 0.0674 149.53); /* #C7F3CE */
  --foreground: oklch(0.1559 0.0053 145.31); /* #0b0d0b */
}

@theme inline {
  --font-sans: "Geist Mono Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono Variable", ui-monospace, monospace;
  --font-display: "Font Display", ui-monospace, monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .party-mode body {
    @apply transition-colors duration-250;
  }

  a.link {
    @apply px-px underline underline-offset-4;
  }

  a.link:hover {
    @apply bg-accent text-foreground no-underline dark:text-background;
  }
}
