---
import { CornerDownLeftIcon } from "@lucide/astro"
import { Image } from "astro:assets"
import avatar from "@/assets/images/matt-venables/avatar-transparent.png"
import { siteConfig } from "@/config/site"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"header"> & {
  title: string
}

const url = new URL(Astro.request.url)
const back = url.pathname !== "/"

const { title, ...props } = Astro.props
---

<header {...props}>
  <div class="h-6 leading-6 md:h-8">
    {
      back && (
        <a href="/" class="-mt-6 inline-flex items-center gap-1 leading-6 hover:underline">
          <CornerDownLeftIcon class="h-3 w-3" /> back
        </a>
      )
    }
  </div>
  <div class="flex items-center justify-between">
    <h1 class="flex-shrink-0 font-display text-4xl md:text-5xl">
      <a href={url.pathname}>{title}</a>
    </h1>
    {
      back ? (
        <span />
      ) : (
        <a
          href={siteConfig.links.x}
          target="_blank"
          data-party-mode
          rel="noopener noreferrer"
          class="flex-shrink transition-transform hover:scale-130 hover:rotate-12 active:scale-110"
        >
          <Image src={avatar} alt="Matt Venables" class="aspect-square h-auto w-full max-w-12" />
        </a>
      )
    }
  </div>
</header>

<script is:inline>
  const partyElement = document.querySelector("a[data-party-mode]")
  if (partyElement) {
    partyElement.addEventListener("mouseenter", () => {
      document.documentElement.classList.add("party-mode")
    })

    partyElement.addEventListener("mouseleave", () => {
      document.documentElement.classList.remove("party-mode")
    })
  }
</script>
