---

---

<div class="fixed right-2 bottom-1">
  <a href="/" id="the-net">π</a>
</div>

<script is:inline>
  const elements = document.querySelector("a#the-net")

  elements.addEventListener("click", (e) => {
    e.preventDefault()
    document.documentElement.classList.toggle("the-net")
  })
</script>
