---
import { MoonIcon, SunIcon } from "@lucide/astro"
import { cn } from "@/lib/utils"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"button">

const { class: className, ...props } = Astro.props
---

<button id="theme-toggle" class={cn("inline-flex cursor-pointer items-center", className)} {...props}>
  [<SunIcon class="hidden size-3 dark:block" />
  <MoonIcon class="size-3 dark:hidden" />]
</button>

<script is:inline>
  function systemTheme() {
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
  }

  const storedTheme = localStorage.getItem("theme")
  const currentTheme = storedTheme ?? systemTheme()
  document.documentElement.classList.toggle("dark", currentTheme === "dark")

  document.getElementById("theme-toggle")?.addEventListener("click", () => {
    const newTheme = document.documentElement.classList.toggle("dark") ? "dark" : "light"
    if (newTheme === systemTheme()) {
      localStorage.removeItem("theme")
    } else {
      localStorage.setItem("theme", newTheme)
    }
  })
</script>
