---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <div class="flex flex-1 items-start space-x-4">
    <div class="w-full md:w-9/12">
      <article
        class="prose prose-base mt-[-5px] md:prose-sm dark:prose-invert prose-a:underline-offset-4"
      >
        <p>
          I am a customer-obsessed developer and entrepreneur building the
          future of decentralized products.
        </p><p>
          I co-founded
          <a href="https://catena.xyz" target="_blank" rel="noreferrer noopener"
            >Catena Labs</a
          >. Before that I founded <a
            href="https://m2.xyz"
            target="_blank"
            rel="noreferrer noopener">M2 Labs</a
          > and
          <a href="https://vested.co" target="_blank" rel="noreferrer noopener"
            >Vested</a
          >, and was early at <a
            href="https://circle.com"
            target="_blank"
            rel="noreferrer noopener">Circle</a
          > where I helped create the USDC stablecoin, which has a market cap of
          <a href="https://usdc.cool" target="_blank"
            ><span data-usdc-supply></span></a
          >
        </p>
      </article>
    </div>
  </div>
</Layout>

<script>
  import { decrypt } from "../lib/decrypting-text"

  async function getSupply() {
    let supply = "many billion dollars"

    try {
      const response = await fetch("/data.json")
      const data = (await response.json()) as { supply: string | null }
      if (data.supply) {
        supply = data.supply
      }
    } catch (e) {
      console.warn(
        "Oops, we couldn't fetch the USDC supply. Can devs do something?"
      )
    }

    return supply
  }

  const supply = await getSupply()
  document.querySelectorAll("[data-usdc-supply]").forEach((element) => {
    element.setAttribute("data-text", supply + ".")
    decrypt(element)
  })
</script>
