---
import Layout from "../layouts/Layout.astro"
---

<Layout title="matt venables">
  <article
    class="prose-md prose mt-[-5px] sm:prose-sm dark:prose-invert prose-a:text-link prose-a:underline-offset-4"
  >
    <p>i build successful decentralized products.</p>

    <p>
      i am co-founder and cto of
      <a href="https://catena.xyz" target="_blank" rel="noreferrer noopener"
        >catena labs</a
      >, bringing decentralized identity and finance to ai.
    </p>

    <p>
      previously, i founded
      <a href="https://m2.xyz" target="_blank" rel="noreferrer noopener"
        >m2 labs</a
      > and <a
        href="https://vested.co"
        target="_blank"
        rel="noreferrer noopener">vested</a
      >, and was early at <a
        href="https://circle.com"
        target="_blank"
        rel="noreferrer noopener">circle</a
      > where i helped create the <span class="font-bold">usdc stablecoin</span
      >, which has a market cap of
      <a href="https://usdc.cool" target="_blank"
        ><span data-usdc-supply></span></a
      >
    </p>
  </article>

  <script>
    import { decrypt } from "../lib/decrypting-text"

    async function getSupply() {
      let supply = "many billion dollars"

      try {
        const response = await fetch("/data.json")
        const data = (await response.json()) as { supply: string | null }
        if (data.supply) {
          supply = data.supply
        }
      } catch (e) {
        console.warn(
          "Oops, we couldn't fetch the USDC supply. Can devs do something?"
        )
      }

      return supply
    }

    const supply = await getSupply()
    document.querySelectorAll("[data-usdc-supply]").forEach((element) => {
      element.setAttribute("data-text", supply + ".")
      decrypt(element)
    })
  </script>
</Layout>
