---
import { getEntry, render } from "astro:content"
import Layout from "../layouts/Layout.astro"

async function getContent() {
  const entry = await getEntry("pages", "now")
  if (!entry) {
    throw new Error(`Entry 'now' not found`)
  }

  const { Content } = await render(entry)
  return { entry, Content }
}

const { entry, Content } = await getContent()
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div class="flex flex-1 items-start space-x-4">
    <div class="w-full md:w-9/12">
      <article
        class="prose prose-sm mt-[-5px] dark:prose-invert prose-a:text-link prose-a:underline-offset-4"
      >
        <h1 class="font-medium">
          {entry.data.title}
        </h1>
        <Content />
      </article>
    </div>
  </div>
</Layout>
