---
import { siteConfig } from "@/config/site"
import RootLayout from "@/layouts/_root.astro"

const title = "PGP public key"
const fingerprint = siteConfig.sec.pgp
---

<RootLayout title={title} description={`PGP public key for ${siteConfig.name}`}>
  <main>
    <h1>{title}</h1>

    <section>
      <p>Fingerprint: <code>{fingerprint}</code></p>
      <p>Download: <a href="/.well-known/pgp-key.asc">/.well-known/pgp-key.asc</a></p>
    </section>

    <section>
      <pre><code id="pubkey">
-----BEGIN PGP PUBLIC KEY BLOCK-----
mDMEaIPxRBYJKwYBBAHaRw8BAQdAG44lRO9EMbpYGC30p5jNDC1fP+8mdkJwLri8
u+Gq1DS0G01hdHQgVmVuYWJsZXMgPG1AdmVuYWJsLmVzPoiTBBMWCgA7FiEEgZ1/
CNL8oZCqct5Hd7DmCOPOQpAFAmiD8UQCGyMFCwkIBwICIgIGFQoJCAsCBBYCAwEC
HgcCF4AACgkQd7DmCOPOQpC/kgEAka7uIGJvBh+aSMmc1JmcAjD2oRkOk7uYRYDE
4p3JGwoA/3CW7vaLudNfAMRAfkTeKat52pMvxVeZAB2SnLAFCKwEuDgEaIPxRBIK
KwYBBAGXVQEFAQEHQIuxfRzsI16nqgN8Dtw5tRBmaMbHMA8/KK6PU4t5zM50AwEI
B4h4BBgWCgAgFiEEgZ1/CNL8oZCqct5Hd7DmCOPOQpAFAmiD8UQCGwwACgkQd7Dm
COPOQpBpfgEAv3vb1vVrqXaly6sHDrwGuB64MADox49OVNJcxUSVd1wA/2zBWwF2
DD6woQCWXc+ADIQSn2KRnbXCT9KXkLPZJwUE
=fXj+
-----END PGP PUBLIC KEY BLOCK-----
      </code></pre>
    </section>

    <button onclick="navigator.clipboard.writeText(document.getElementById('pubkey').textContent)"> copy key </button>
    <br /><br />
    <a href="/">https://venabl.es</a>
  </main>
</RootLayout>
