---
import { getEntry, render } from "astro:content"
import Layout from "../layouts/Layout.astro"
import DecryptingText from "../components/DecryptingText.astro"

const entry = await getEntry("pages", "projects")
const { Content } = await render(entry)
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div class="flex flex-1 items-start space-x-4">
    <div class="w-full md:w-9/12">
      <article
        class="-mt-[5px] prose dark:prose-invert prose-base md:prose-sm prose-ul:ps-0"
      >
        <h1>
          <DecryptingText text={entry.data.title} />
        </h1>
        <Content />
      </article>
    </div>
  </div>
</Layout>
