---
import { getEntry, render } from "astro:content"
import DecryptingText from "../components/DecryptingText.astro"
import Layout from "../layouts/Layout.astro"

async function getContent() {
  const entry = await getEntry("pages", "projects")
  if (!entry) {
    throw new Error(`Entry 'projects' not found`)
  }

  const { Content } = await render(entry)
  return { entry, Content }
}

const { entry, Content } = await getContent()
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div class="flex flex-1 items-start space-x-4">
    <div class="w-full md:w-9/12">
      <article
        class="prose-md prose mt-[-5px] sm:prose-sm dark:prose-invert prose-a:text-link prose-a:underline-offset-4"
      >
        <h1 class="font-display font-medium tracking-widest">
          <DecryptingText text={entry.data.title} />
        </h1>
        <Content />
      </article>
    </div>
  </div>
</Layout>
