---
import { getCollection } from "astro:content"
import DecryptingText from "../components/DecryptingText.astro"
import Layout from "../layouts/Layout.astro"

const allPosts = await getCollection("posts")
const posts = allPosts.sort((a, b) => {
  const dateA = new Date(a.data.date).getTime()
  const dateB = new Date(b.data.date).getTime()
  return dateB - dateA
})
---

<Layout title="Writing" description="Some things I think I think.">
  <div class="flex flex-1 items-start space-x-4">
    <div class="w-full md:w-9/12">
      <article
        class="prose prose-sm mt-[-5px] dark:prose-invert prose-a:underline-offset-4 prose-ul:ps-0"
      >
        <h1 class="font-display font-medium tracking-widest">
          <DecryptingText text="Writing" />
        </h1>
        <p>
          i write about the future of decentralized products, ai, the web3
          ecosystem, code, finance and the intersection of technology and
          society.
        </p>
        <ul class="list-none ps-0">
          {
            posts.map((post) => (
              <li>
                <a
                  href={`/${post.id}`}
                  class="flex flex-row items-center gap-2 no-underline"
                >
                  <span class="grow">
                    {post.data.icon}
                    <span class="link">{post.data.title}</span>
                  </span>
                  <span class="mr-2 text-right text-xs text-muted-foreground uppercase">
                    {new Date(post.data.date).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric"
                    })}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </article>
    </div>
  </div>
</Layout>
