---
import DecryptingText from "./DecryptingText.astro"

interface Props {
  text: string
  class?: string
}

const { text, class: className = "" } = Astro.props
---

<div>
  <h1>
    <DecryptingText text={text} class={className} />
  </h1>
</div>
