---
import ThemeToggle from "../components/ThemeToggle.astro"
import { siteConfig } from "../config/site"

const year = new Date().getFullYear()
---

<footer
  class="flex max-w-xl flex-col-reverse items-center justify-between gap-2 text-sm text-muted-foreground sm:flex-row sm:text-xs"
>
  <p class="grow">
    &copy; <span id="footer-year">{year}</span>
    {siteConfig.author.name}.
  </p>
  <ThemeToggle class="text-xs sm:self-end" />
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear()
</script>
