---
import ThemeToggle from "../components/ThemeToggle.astro"

const year = new Date().getFullYear()
---

<footer
  class="flex items-center justify-between text-sm text-muted-foreground md:w-9/12"
>
  <p>&copy; <span id="footer-year">{year}</span> Matt Venables.</p>
  <ThemeToggle />
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear()
</script>
