<header>
  <a href="/" data-swing-trigger>
    <span
      class="before:content-['#'] before:mr-px before:text-muted-foreground mb-20 mt-[9px] hidden md:block text-3xl font-bold tracking-tight before:opacity-50 hover:before:opacity-100 before:transition-opacity"
    >
      Matt Venables
    </span>
  </a>
</header>
