<header>
  <a href="/" data-swing-trigger>
    <span
      class="mt-[9px] mb-20 hidden font-display text-3xl font-medium tracking-widest md:block"
    >
      Matt Venables
    </span>
  </a>
</header>
