<header>
  <a href="/" data-swing-trigger>
    <span
      class="mb-20 mt-[9px] hidden font-display text-3xl font-medium tracking-widest md:block"
    >
      Matt Venables
    </span>
  </a>
</header>
