<header>
  <a href="/" data-swing-trigger>
    <span
      class="font-display font-medium tracking-widest mb-20 mt-[9px] hidden md:block text-3xl"
    >
      Matt Venables
    </span>
  </a>
</header>
