---
import "@fontsource-variable/jetbrains-mono"
import "@fontsource-variable/geist-mono"
import "@/styles/globals.css"
import Footer from "@/components/layout/footer.astro"
import Header from "@/components/layout/header.astro"
import TailwindIndicator from "@/components/layout/tailwind-indicator.astro"
import TheNet from "@/components/layout/the-net.astro"
import RootLayout from "./_root.astro"
import type { RootLayoutProps } from "./_root.types"

type Props = RootLayoutProps

const props = Astro.props
---

<RootLayout class="min-h-screen font-sans text-sm leading-6 antialiased sm:text-[13px]" {...props}>
  <div class="flex min-h-screen max-w-3xl flex-col gap-8 p-4 sm:px-22 sm:py-8">
    <Header title={props.title} />
    <main class="flex grow flex-col gap-12">
      <slot />
    </main>
    <Footer />
  </div>
  {import.meta.env.DEV && <TailwindIndicator />}
  <TheNet />
</RootLayout>
