---
import Footer from "@/components/layout/footer.astro"
import Header from "@/components/layout/header.astro"
import RootLayout from "./_root.astro"
import type { RootLayoutProps } from "./_root.types"

type Props = RootLayoutProps

const props = Astro.props
---

<RootLayout
  class="flex max-w-3xl flex-col gap-8 p-4 font-sans text-sm leading-6 sm:px-22 sm:py-8 sm:text-[13px]"
  {...props}
>
  <Header title={props.title} />
  <main class="flex grow flex-col gap-12">
    <slot />
  </main>
  <Footer />
</RootLayout>
