---
import mattVenablesImage from "../assets/matt-venables.png"
import Avatar from "../components/Avatar.astro"

const navItems = [
  { href: "/", label: "About" },
  { href: "/writing", label: "Writing" },
  { href: "/projects", label: "Projects" }
]
---

<div class="md:sticky md:top-20">
  <div
    class="mb-2 flex flex-col items-start space-y-10 px-4 md:mb-20 md:flex-row md:px-0"
  >
    <a href="/">
      <Avatar image={mattVenablesImage} />
    </a>
  </div>

  <a href="/" data-swing-trigger>
    <span
      class="mb-20 mt-[9px] whitespace-normal font-display text-3xl font-medium tracking-widest md:hidden"
    >
      Matt Venables
    </span>
  </a>

  <nav
    class="relative flex scroll-pr-6 flex-row items-start overflow-scroll px-4 pb-4 md:relative md:left-[-6px] md:top-[-7px] md:flex-col md:overflow-auto md:px-0 md:pb-0"
  >
    <ul class="flex flex-row space-x-4 pr-10 md:flex-col md:space-x-0">
      {
        navItems.map(({ label, href }) => (
          <li class="flex flex-col-reverse items-center py-1 text-sm md:flex-row">
            <div class="mt-1 size-[4px] scale-0 rounded-full transition-transform md:relative md:left-px md:mr-2 md:mt-0" />
            <a
              class="transition-opacity hover:opacity-60 dark:text-gray-400"
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
