---
import mattVenablesImage from "../assets/matt-venables.png"
import Avatar from "../components/Avatar.astro"

const navItems = [
  { href: "/", label: "About" },
  { href: "/writing", label: "Writing" },
  { href: "/projects", label: "Projects" }
]
---

<div class="md:sticky md:top-20">
  <div
    class="mb-2 px-4 md:px-0 md:mb-20 space-y-10 flex flex-col md:flex-row items-start"
  >
    <a href="/">
      <Avatar image={mattVenablesImage} />
    </a>
  </div>

  <a href="/" data-swing-trigger>
    <span
      class="mt-[9px] md:hidden before:inline-block before:content-['#'] before:-ml-2 before:text-muted-foreground mb-20 text-3xl font-bold tracking-tight before:opacity-50 hover:before:opacity-100 before:transition-opacity whitespace-normal before:whitespace-pre"
    >
      Matt Venables
    </span>
  </a>

  <nav
    class="flex flex-row md:flex-col items-start relative md:top-[-7px] overflow-scroll px-4 md:px-0 pb-4 md:pb-0 fade md:overflow-auto scroll-pr-6 md:relative md:left-[-6px]"
  >
    <ul class="flex flex-row md:flex-col space-x-4 md:space-x-0 pr-10">
      {
        navItems.map(({ label, href }) => (
          <li class="flex flex-col-reverse md:flex-row text-sm py-1 items-center">
            <div class="md:relative rounded-full md:mr-2 md:left-[1px] w-[4px] h-[4px] mt-1 md:mt-0 transition-transform scale-0 dark:bg-secondary-500" />
            <a
              class="transition-opacity hover:opacity-60 dark:text-gray-400"
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
